.git/
.nyc_output/
coverage/
docs/
examples/
node_modules/
test/

**/*.spec.js

.dockerignore
.eslintignore
.eslintrc.yml
.gitignore
.jsinspectrc
.npmignore
.nycrc
.travis.yml
docker-compose.yml
Dockerfile
mocha.opts
README.md

account.json
