{
  "lines": 90,
  "statements": 90,
  "functions": 90,
  "branches": 80,
  "watermarks": {
    "lines": [ 80, 95 ],
    "statements": [ 80, 95 ],
    "functions": [ 80, 95 ],
    "branches": [ 80, 95 ]
  },
  "exclude": [
    "**/*.spec.js",
    "**/*.json",
    "index.js",
    "coverage/**/*",
    "lib/polyfill.js",
    "server/middleware/*.js",
    "test/**/*"
  ],
  "reporter": [
    "lcov",
    "text-summary"
  ],
  "cache": true,
  "all": true,
  "check-coverage": true
}
